@import "colors";

body, 
html 
{
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: $vDrkBlue;
    font-family: 'Overpass', sans-serif;
}

.thankyouState {
    display: none; // for now
}
